policy_module(ipa_custodia, 0.1.1)

########################################
#
# Declarations
#

type ipa_custodia_t;
type ipa_custodia_exec_t;
init_daemon_domain(ipa_custodia_t, ipa_custodia_exec_t)

permissive ipa_custodia_t;

type ipa_custodia_etc_rw_t;
files_type(ipa_custodia_etc_rw_t)

type ipa_custodia_log_t;
logging_log_file(ipa_custodia_log_t)

type ipa_custodia_tmp_t;
files_tmp_file(ipa_custodia_tmp_t)

########################################
#
# ipa_custodia local policy
#

allow ipa_custodia_t self:capability { net_admin dac_read_search };
dontaudit ipa_custodia_t self:capability dac_override;
allow ipa_custodia_t self:process execmem;
allow ipa_custodia_t self:fifo_file rw_fifo_file_perms;
allow ipa_custodia_t self:unix_stream_socket create_stream_socket_perms;
allow ipa_custodia_t self:unix_dgram_socket create_socket_perms;
allow ipa_custodia_t self:tcp_socket { bind create_socket_perms };
allow ipa_custodia_t self:udp_socket create_socket_perms;
allow ipa_custodia_t self:netlink_route_socket create_netlink_socket_perms;

manage_dirs_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
manage_files_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
manage_lnk_files_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
files_etc_filetrans(ipa_custodia_t, ipa_custodia_etc_rw_t, { dir file lnk_file })

manage_files_pattern(ipa_custodia_t, ipa_custodia_log_t, ipa_custodia_log_t)
logging_log_filetrans(ipa_custodia_t, ipa_custodia_log_t, file)

manage_dirs_pattern(ipa_custodia_t, ipa_custodia_tmp_t, ipa_custodia_tmp_t)
manage_files_pattern(ipa_custodia_t, ipa_custodia_tmp_t, ipa_custodia_tmp_t)
files_tmp_filetrans(ipa_custodia_t, ipa_custodia_tmp_t, { dir file })

kernel_read_network_state(ipa_custodia_t)
kernel_read_system_state(ipa_custodia_t)
kernel_dgram_send(ipa_custodia_t)

auth_read_passwd(ipa_custodia_t)

corecmd_exec_bin(ipa_custodia_t)

corenet_tcp_bind_generic_node(ipa_custodia_t)

dev_list_sysfs(ipa_custodia_t)
dev_read_rand(ipa_custodia_t)

ipa_read_lib(ipa_custodia_t)

ipa_custodia_manage_httpd_sockets(ipa_custodia_t)
ipa_custodia_read_tomcat_etc_rw(ipa_custodia_t)
ipa_custodia_httpd_stream_connect(ipa_custodia_t)
ipa_custodia_read_state_httpd(ipa_custodia_t)

libs_exec_ldconfig(ipa_custodia_t)

miscfiles_read_generic_certs(ipa_custodia_t)

sysnet_read_config(ipa_custodia_t)

optional_policy(`
    dirsrv_stream_connect(ipa_custodia_t)
')

optional_policy(`
    pki_rw_tomcat_cert(ipa_custodia_t)
')

optional_policy(`
    sssd_stream_connect(ipa_custodia_t)
    sssd_read_public_files(ipa_custodia_t)
')
