policy_module(ipa_custodia, 1.0.0)

########################################
#
# Declarations
#

type ipa_custodia_t;
type ipa_custodia_exec_t;
init_daemon_domain(ipa_custodia_t, ipa_custodia_exec_t)

permissive ipa_custodia_t;

type ipa_custodia_etc_rw_t;
files_type(ipa_custodia_etc_rw_t)

########################################
#
# ipa_custodia local policy
#
allow ipa_custodia_t self:fifo_file rw_fifo_file_perms;
allow ipa_custodia_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
manage_files_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
manage_lnk_files_pattern(ipa_custodia_t, ipa_custodia_etc_rw_t, ipa_custodia_etc_rw_t)
files_etc_filetrans(ipa_custodia_t, ipa_custodia_etc_rw_t, { dir file lnk_file })

domain_use_interactive_fds(ipa_custodia_t)

files_read_etc_files(ipa_custodia_t)

miscfiles_read_localization(ipa_custodia_t)
